body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

header {
  padding: 12px;
  background: #020617;
  text-align: center;
  font-weight: bold;
}

.container {
  display: flex;
  height: calc(100vh - 48px);
}

.left {
  width: 30%;
  padding: 12px;
  border-right: 1px solid #1e293b;
}

.right {
  flex: 1;
  padding: 12px;
}

textarea {
  width: 100%;
  height: 70%;
  background: #020617;
  color: #e5e7eb;
  border: 1px solid #1e293b;
  padding: 10px;
  resize: none;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: #2563eb;
  border: none;
  color: white;
  font-size: 16px;
}

.editor {
  height: 100%;
  background: #020617;
  border: 1px solid #1e293b;
  padding: 12px;
  white-space: pre-wrap;
  overflow-y: auto;
}
